@import "../../stylesheets/variables";

.collection-footer {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  font-weight: $font-Medium;
  .name {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 85%;
  }
  .brandname {
    font-size: 11px;
    color: $gray;
    margin-bottom: 3px;
  }

  .price {
    margin-top: 7px;
    font-size: 14px;
    .newprice {
      color: $black;
    }
    .oldprice {
      margin-left: 5px;
      text-decoration: line-through;
      color: $gray;
    }
    .discount {
      margin-left: 7px;
      color: $success;
    }
  }
}
