@import '../../stylesheets/variables';

.collectionPageContainer {
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-paddingH;
}

.collectionTitle {
  font-size: 38px;
  margin: 20px 0 25px 0;
}

.collectionItemsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 15px;
  & > div {
    margin-bottom: 30px;
  }
}
