.collectionPageContainer {
  display: flex;
  flex-direction: column;
}

.collectionTitle {
  font-size: 38px;
  margin: 0 auto 30px;
}

.collectionItemsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;

  & > div {
    margin-bottom: 30px;
  }
}
