@import "../../stylesheets/variables";

$checkout-footer: 80px;

.checkoutPageContainer {
  padding: 20px $mobile-paddingH;
  margin-bottom: $checkout-footer;
  .back {
    position: absolute;
  }
  ._inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0px 20px 0px;
    height: 100%;
    color: $black;
  }
  .title {
    font-size: 34px;
    font-weight: $font-Medium;
    text-transform: capitalize;
    margin-bottom: 40px;
  }

  .totalContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px $mobile-paddingH;
    height: $checkout-footer;
    box-shadow: 0px 0px 7px rgba($black, 0.2);
    background: $white;
    strong {
      font-size: 16px;
      font-weight: $font-Medium;
      text-transform: uppercase;
    }
  }
}

.warningContainer {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  padding: 0 20px;
  color: red;
}
