@import "../../stylesheets/variables";

.pg-space {
  .page-header {
    margin: 0 (-$mobile-paddingH);
  }
}

.pg-space-Menu {
  .page-header {
    margin: 0 (-$mobile-paddingH);
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 9;
  top: 0;
  height: $mobile-header-height;
  background-color: $background;
  padding: 0 $mobile-paddingH;

  .left {
    display: flex;
    width: 20%;
    .menu {
      margin-left: 20px;
    }
  }
  .middle {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 0 20px;
    strong {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: $font-Medium;
      text-transform: capitalize;
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
}

.page-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: $black;
  .title {
    font-size: 34px;
    font-weight: $font-Medium;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 200px;
  }
}
