@import '../../stylesheets/variables';
$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative; 
  margin-bottom: 40px;

  .form-input {
    background: none;
    font-size: 18px;
    padding: 10px 0px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    color: $black;
    background-color: transparent;
    border-bottom: 1px solid $black; 

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
