@import "../../stylesheets/variables";

.custom-button { 
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  border-radius: 5px; 
  font-size: 16px;
  font-weight: $font-Medium;
  text-transform: capitalize; 
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;
  flex: 1;

  svg {
    margin-right: 10px;
    path {
      fill: $white;
    }
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
