// font-weight
$font-Light: 300;
$font-Regular: 400;
$font-Medium: 500;

// colors
$black: #222222;
$gray: #9b9b9b;
$primary: #db3022;
$background: #f9f9f9;
$white: #ffffff;
$error: #f01f0e;
$success: #2aa952;
$hot: #db3022;


$mobile-menu-height: 83px;
$mobile-header-height: 60px;
$mobile-paddingH: 15px;