@import "./variables";
@import "./resets";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: $font-Regular;
  overflow-x: hidden;
  background-color: $background;
}

.app-container {
}

.pg-space {
  padding: 0px $mobile-paddingH 20px $mobile-paddingH;
  min-height: 100vh;
}

.pg-space-Menu {
  padding: 0px $mobile-paddingH $mobile-menu-height $mobile-paddingH;
  min-height: 100vh;
}

.pg-Menu {
  padding: 0 0 $mobile-menu-height 0;
  min-height: 100vh;
}

@media screen and (max-width: 800px) {
  body {
  }
}
