@import "./variables";
@import "./resets";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: $font-Regular;
  overflow-x: hidden;
}

.app-container {
  // padding-bottom: $mobile-menu-height;
  background-color: $background;
}

@media screen and (max-width: 800px) {
  body {
  }
}
